<div class="py-5 px-3">
  <%= link_to '←前のページに戻る', request.referer || root_path, class: "text-decoration-none ms-4 text-start" %>

  <section class="detail-section-1 container" style="max-width: 700px;">
    <div class="text-center my-5">
      <h1 class="font-yuji fw-bold">プライバシーポリシー</h1>
    </div>

    <ul class="list-unstyled fs-5 py-3 px-2">
      <li class="font-yuji"><span class="text-success">第1条．</span>個人情報</li>
      <li class="text-black-50 fs-15">「個人情報」とは、特定の個人を識別できる情報をいいます。</li>

      <li class="font-yuji mt-4"><span class="text-success">第2条．</span>収集方法</li>
      <li class="text-black-50 fs-15">ユーザーの登録時に、メールアドレスなどを収集する場合があります。</li>

      <li class="font-yuji mt-4"><span class="text-success">第3条．</span>利用目的</li>
      <li class="text-black-50 fs-15">サービス提供やサポート対応のために、ユーザーから提供された情報を利用します。</li>

      <li class="font-yuji mt-4"><span class="text-success">第4条．</span>第三者提供</li>
      <li class="text-black-50 fs-15">本人の同意がある場合を除き、個人情報を第三者に提供しません。</li>

      <li class="font-yuji mt-4"><span class="text-success">第5条．</span>安全管理</li>
      <li class="text-black-50 fs-15">個人情報の漏洩や滅失の防止に努めます。</li>

      <li class="font-yuji mt-4"><span class="text-success">第6条．</span>開示・訂正・削除</li>
      <li class="text-black-50 fs-15">ご本人からの請求により、情報の開示・訂正・削除に対応します。</li>

      <li class="font-yuji mt-4"><span class="text-success">第7条．</span>変更</li>
      <li class="text-black-50 fs-15">本ポリシーは、必要に応じて変更されることがあります。</li>
    </ul>
  </section>
</div>
