body {
  margin: 0;
  padding: 0;
  font-family: 'Sawarabi Mincho', 'Zen Kaku Gothic New','M PLUS Rounded 1c', 'メイリオ', 'Meiryo', sans-serif;
}

.fs-17 {
  font-size: 17px;
}

.fs-15 {
  font-size: 15px;
}

.fs-13 {
  font-size: 13px;
}

.fs-11 {
  font-size: 11px;
}

.fw-800 {
  font-weight: 800;
}

.fw-600 {
  font-weight: 600;
}

.hidden {
  display: none;
}

.error-lists {
  list-style: none;
}

.text-decoration-none {
  text-decoration: none;
}

.form-esse::after { //入力必須フォームの目印
  content: "*";
  color: rgb(255, 0, 0);
}

.error-text { //バリデーション時のメッセージ用
  color: rgb(255, 0, 0);
  font-size: 12px;
  font-style: italic;
}
