.btn-success-light {
  background-color: rgb(42, 160, 70);
  border-color: rgb(42, 160, 70); 
  color: white;
}

.btn-success-light:hover {
  background-color: rgb(24, 131, 49); /* ホバー時は少し濃く */
  border-color: rgb(24, 131, 49);
  color: white;
}

.btn-success-light-hover:hover {
  background-color: rgb(42, 160, 70);
  border-color: rgb(42, 160, 70); 
  color: white;
}

.edit-password-esse { //reservation/editの「現在のパスワード」ラベル用
  color: rgb(255, 0, 0);
}
