<div class="footer-contents p-2">
  <%= link_to "最強のうどん師", root_path, class: "footer-logo text-dark" %>
  <p class="footer-copyright fs-6">Copyright©️最強のうどん師 2025 All right reserved</p>
  <%= link_to "最強のうどん師とは", tops_detail_path, class: "footer-text text-decoration-none text-secondary me-3" %>
  <%= link_to "利用規約", tops_tos_path, class: "footer-text text-decoration-none text-secondary me-3" %>
  <%= link_to "プライバシーポリシー", tops_privacy_path, class: "footer-text text-decoration-none text-secondary me-3" %>
</div>
